!docker-compose.yaml
!init/
!dags/

**/__pycache__/
**/*.py[cod]
**/*.so
**/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
plugins/
config/

*.log
logs/
.vscode/
.idea/

.DS_Store
Thumbs.db 